* {
  box-sizing: border-box;
  outline: none;
}
.circle {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  color: white;
  line-height: 1.em;
}

.circle p {
  font-variant-numeric: tabular-nums;
}
.violet {
  background-color: violet;
}
.grey {
  background-color: grey;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
aside {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin: 4rem auto;
}
button {
  padding: 1.5rem;
  border-radius: 2rem;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 1.1px; 
}
button.add {
  background-color: greenyellow;
  color: white;
}
button.substract {
  background-color: mediumaquamarine;
  color: white;
}
button.reset {
  background-color: firebrick;
  color: white;
}